/*
  Seg's Steam Docs Proposal
   Supplemental CSS
*/

/* Top level HTML styles
-------------------------------------------------- */
section {
	margin-top: 40px;
	padding-top: 20px;
}

/* Jumbotrons
-------------------------------------------------- */
.jumbotron {
  position: relative;
  margin-top:50px;
  padding: 40px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  #gradient>.directional(#020031,#6d3353,45deg);
  .box-shadow(inset 0 3px 7px rgba(0,0,0,.2));
  h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
  }
  p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 30px;
  }
  /* Link styles (used on .masthead-links as well) */
  a {
    color: #fff;
    color: rgba(255,255,255,.5);
    .transition(all .2s ease-in-out)
  }
  a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255,255,255,.25);
  }
}

/* Table Modifications */
th {
  background-color:#000;
  color:#fff;
}

/* Sidenav for Docs
-------------------------------------------------- */
#navigation {
  padding-top:0px;
  padding-bottom:0px;
  margin-top:2px;
  margin-bottom:0px;
}

/* Footer
-------------------------------------------------- */
.footer {
  padding: 30px 12%;
  @media (max-width:980px) {
    padding:30px auto;
  }
  margin-top: 70px;
  #gradient>.directional(@grayDarker,@grayDark,0deg);
  p {
    margin-bottom: 0;
  }
}
.footer-links {
  margin: 10px 0;
  li {
    display: inline;
    padding: 0 2px;
    &:first-child {
      padding-left: 0;
    }
  }
}

/* Media Width Declares */
@media (max-width:979px) {
  /* Fix for Jumbotron */
  .jumbotron {
    margin-top:0px;
  }
}

@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    .nav {
      width: 938px;
      margin: 0 auto;
      padding: 0 1px;
    }
  }
  /* Enable use of floated navbar text */
  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (min-width: 1210px) {
  .subnav-fixed .nav {
    width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
  }
}